#no-mobile {
    position: absolute;
    z-index: 99;
    height:100vh;
    background-color: var(--yellow);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 0;
}
/*z-index무조건 맨 위에 오도록*/

@media screen and (max-width:645px) {
    #no-mobile {
        display: none;
    }
}
/*min-width로 적용하면 display: flex로 해야겠지?*/